.main-div{
    background-color: #e9ebf0;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-desgin{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dee0e7;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    

    .form-label{
        margin: 25px;
        margin-bottom: 28px;
        font-size: 30px;
        font-weight: bold;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }

    .form-input{
        margin: 5px;
        width: 80%;
    }
}

.login-btn{
    width: 50%;
    margin: 25px;
    margin-top: 28px;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(45, 43, 43);
    cursor: pointer;
}

.login-btn:hover{
    background-color: black;
}

.error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100px;
    text-align: center;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
  }